@page "/testcreat"
<h3>Test creat</h3>
<p> hai </p>
<form>
    <div >
        <label for="Name" >Name</label>
        <InputText></InputText>
        </div>
     <div >
        <label for="age" >age</label>
     <InputText></InputText>
      <div>

       <div >
        <label for="gender" >gender</label>
           <InputSelect ">
            <option>male</option>
            <option>female</option>
        </InputSelect>
      <div>
</form>

@code {
    
}
